#variants_title { 
	border: none;
	color: #494949;
	font-weight: bold; 
	position: relative;
	text-align: center;
	background: #D3D3D3;
	box-sizing: border-box; 
	-moz-box-sizing: border-box; 
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	-webkit-box-sizing: border-box;
	box-shadow: 1px 1px 1px -1px #CECECE;	
}

#variants_contents {
	position: relative;
	border: 1px solid '#BCBCBC';
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	box-shadow: 0px 3px 6px #CECECE;	
	-moz-box-shadow: 0px 3px 6px #CECECE;
	-webkit-box-shadow: 0px 3px 6px #CECECE;
}
#variants_navi,
#variants_empty,
#variants_needle,
#variants_legend	{
	float: left;
}

#variants_patient_legend {
	float: right;
}

#variants_legend,
#variants_patient_legend {
	margin-top: 5px;
	margin-right: 5px;
	box-shadow: 0px 1px 3px #CECECE;
}

#variants_patient_legend 	{
	margin-right: 9px;
}