bin
bin/www
node_modules
public/bower.json 
public/bower_components/
public/etc/ 
public/javascripts/
public/stylesheets/
public/images 
public/test 
routes/ 
views/ 
.babelrc
app.js
addgit.sh
.idea
.vscode
gulpfile.babel.json
*.bak
