#biochart_tooltip 	{
  visibility: hidden;
	position: absolute;
	font-size: 12px;
	background: rgba(239, 239, 239, 0.8);
	border: rgba(158, 158, 158, 1) solid;
	width: auto;
	height: auto;
	padding: 10px;
	border-radius: 5px;
	border-width: 4px;
}

#biochart_tooltip.top::before {
	content: " ";
  position: absolute;
  top: 100%; 
  left: 50%;
  margin-left: -10px;
  border-width: 10px;
  border-style: solid;
  border-color: rgba(158, 158, 158, 1) transparent transparent transparent;
}

#biochart_tooltip.top::after {
	content: " ";
  position: absolute;
  top: 100%; /* At the top of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: rgba(158, 158, 158, 1) transparent transparent transparent;
}

#biochart_tooltip.bottom::before {
	content: " ";
  position: absolute;
  bottom: 100%; 
  left: 50%;
  margin-left: -10px;
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent rgba(158, 158, 158, 1) transparent;
}

#biochart_tooltip.bottom::after {
	content: " ";
  position: absolute;
  bottom: 100%; /* At the bottom of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent rgba(158, 158, 158, 1) transparent;
}

#biochart_tooltip.right::before {
  content: " ";
  position: absolute;
  top: 50%; 
  right: 100%;
  margin-top: -10px;
  border-width: 10px;
  border-style: solid;
  border-color: transparent rgba(158, 158, 158, 1) transparent transparent;
}

#biochart_tooltip.right::after {
  content: " ";
  position: absolute;
  top: 50%; /* At the right of the tooltip */
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent rgba(158, 158, 158, 1) transparent transparent;
}

#biochart_tooltip.left::before {
  content: " ";
  position: absolute;
  top: 50%; 
  left: 100%;
  margin-top: -10px;
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent transparent rgba(158, 158, 158, 1);
}

#biochart_tooltip.left::after {
  content: " ";
  position: absolute;
  top: 50%; /* At the left of the tooltip */
  left: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent transparent rgba(158, 158, 158, 1);
}