extends layout

block content
	div#main
	script(src='/bower_components/jquery/dist/jquery.min.js')
	script(src='/bower_components/qtip2/jquery.qtip.min.js')
	script(src='/bower_components/bootstrap/dist/js/bootstrap.min.js')
	script(src='/bower_components/d3/d3.min.js')
	script(src='/javascripts/survival/boilerPlate.js')
	script(src='/javascripts/survival/cbio-util.js')
	script(src='/javascripts/survival/kmEstimator.js')
	script(src='/javascripts/survival/logRankTest.js')
	script(src='/javascripts/survival/survival_tab.js')
	script(src='/javascripts/survival/survivalCurve.js')
	script(src='/javascripts/survival/survivalCurveProxy.js')
	script(src='/javascripts/survival/survivalCurveView.js')
	script(src='/javascripts/utilities/dependencies.js')
	script(src='/javascripts/utilities/dom.js')
	script(src='/javascripts/utilities/iteration.js')
	script(src='/javascripts/utilities/math.js')
	script(src='/javascripts/utilities/objects.js')
	script(src='/javascripts/utilities/strings.js')
	script(src='/javascripts/tools/loading.js')
	script(src='/javascripts/tools/modal.js')
	script(src='/javascripts/tools/selectBox.js')
	script(src='/javascripts/tools/table.js')
	script(src='/javascripts/tools/title.js')
	script(src='/javascripts/tools/tooltip.js')
	script(src='/javascripts/model/initialize.js')
	script(src='/javascripts/common/boilerPlate.js')
	script(src='/javascripts/common/layout.js')
	script(src='/javascripts/common/sizing.js')
	script(src='/javascripts/common/setting.js')
	script(src='/javascripts/drawing/axises.js')
	script(src='/javascripts/drawing/bar.js')
	script(src='/javascripts/drawing/circle.js')
	script(src='/javascripts/drawing/divisionLine.js')
	script(src='/javascripts/drawing/drawing.js')
	script(src='/javascripts/drawing/heat.js')
	script(src='/javascripts/drawing/legend.js')
	script(src='/javascripts/drawing/needle.js')
	script(src='/javascripts/drawing/network.js')
	script(src='/javascripts/drawing/path.js')
	script(src='/javascripts/drawing/rectangle.js')
	script(src='/javascripts/drawing/rendering.js')
	script(src='/javascripts/drawing/scales.js')
	script(src='/javascripts/drawing/scatter.js')
	script(src='/javascripts/drawing/survival.js')
	script(src='/javascripts/drawing/text.js')
	script(src='/javascripts/drawing/triangle.js')
	script(src='/javascripts/events/handler.js')
	script(src='/javascripts/preprocess/preprocess.js')
	script(src='/javascripts/preprocess/preprocExclusivity.js')
	script(src='/javascripts/preprocess/preprocExpression.js')
	script(src='/javascripts/preprocess/preprocLandscape.js')
	script(src='/javascripts/preprocess/preprocPathway.js')
	script(src='/javascripts/preprocess/preprocVariants.js')
	script(src='/javascripts/configuration/commonConfig.js')
	script(src='/javascripts/configuration/exclusivityConfig.js')
	script(src='/javascripts/configuration/expressionConfig.js')
	script(src='/javascripts/configuration/landscapeConfig.js')
	script(src='/javascripts/configuration/pathwayConfig.js')
	script(src='/javascripts/configuration/variantsConfig.js')
	script(src='/javascripts/exclusivity/exclusivity.js')
	script(src='/javascripts/expression/colorGradient.js')
	script(src='/javascripts/expression/expression.js')
	script(src='/javascripts/landscape/scaleSet.js')
	script(src='/javascripts/landscape/sortTitle.js')
	script(src='/javascripts/landscape/landscapeSort.js')
	script(src='/javascripts/landscape/landscape.js')
	script(src='/javascripts/pathway/pathway.js')
	script(src='/javascripts/variants/variantsPatient.js')
	script(src='/javascripts/variants/variantsNavi.js')
	script(src='/javascripts/variants/variantsGraph.js')
	script(src='/javascripts/variants/variants.js')
	script(src='/javascripts/main/main.js')
	script(src='/javascripts/test/index.js')