doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/bower_components/qtip2/jquery.qtip.css')
    link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/bower_components/font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet', href='/stylesheets/exclusivity/exclusivity.css')
    link(rel='stylesheet', href='/stylesheets/expression/expression.css')
    link(rel='stylesheet', href='/stylesheets/landscape/landscape.css')
    link(rel='stylesheet', href='/stylesheets/pathway/pathway.css')
    link(rel='stylesheet', href='/stylesheets/variants/variants.css')
    link(rel='stylesheet', href='/stylesheets/tools/loading.css')
    link(rel='stylesheet', href='/stylesheets/tools/tooltip.css')
    link(rel='stylesheet', href='/stylesheets/tools/selectBox.css')    
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
