/* Ma plot
------------------------------------------------------- */
.chart_container {
	width : 1600px;
}
#maplot_table {
	margin : 0px;
}
#maplot_table_body {
	height : 500px;
	overflow-y : auto;
}
#maplot_select_line	path {
	stroke : #26d632;
}
/* Comutation Plot navigation custom spinner css style code that used to bootstrap */
.spinner {
	width: 70px;
	float : left;
}
.spinner input {
	text-align: right;
}
.input-btn {
	float : left;
	width : 10px;
}
.input-group-btn-vertical {
	position: relative;
	white-space: nowrap;
	width: 1%;
	vertical-align: middle;
	display: table-cell;
}
.input-group-btn-vertical > .btn {
	display: block;
	float: none;
	width: 100%;
	max-width: 100%;
	padding-top: 8px;
	padding-left: 10px;
	padding-right: 5px;
	padding-bottom: 8px;
	margin-left: -1px;
	position: relative;
	border-radius: 0;
}
.input-group-btn-vertical > .btn:first-child {
	border-top-right-radius: 4px;
}
.input-group-btn-vertical > .btn:last-child {
	margin-top: -2px;
	border-bottom-right-radius: 4px;
}
.input-group-btn-vertical i{
	position: absolute;
    	top: -1px;
	left: 4px;
}
.input-group-xs>.form-control,
.input-group-xs>.input-group-addon,
.input-group-xs>.input-group-btn>.btn {
    height: 22px;
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
}
